<div class="row">
  <div class="form-group sizeCheck">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      [(ngModel)]="filterTerm"
    />
  </div>
</div>

<div class="row">
 
    <div *ngFor="let member of members |filter:filterTerm  | paginate: { itemsPerPage: 5, currentPage: p } " class="col-2">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
